/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    
}



nav ul li {
    display: inline;
  
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    
    cursor: pointer;
    color: #cc0000;
    border-bottom: 2px solid #cc0000;
    
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 80px;
}

.search-icon {
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 100px;


}

.language-selector select {
    padding: 5px;
}

.contact button {
    background-color: #cc0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

/* Section styles */
section {
    padding: 50px 20px;
    /* background: #f9f9f9; */
    text-align: center;
    position: relative;
    z-index: -2;
}

.history h2, .pedagogy h2, .partners h2 {
    color: #cc0000;
    font-size: 2em;
    margin-top: 60px;
}
.current-offers h2{
    color: #cc0000;
    font-size: 2em;
}
.current-offers h4, hr{
    color: #cc0000;
   
}

#numbers h2{ 
color: #cc0000;
    font-size: 2em;
    /* margin-top: 300px; */
}

.opening, .pedagogy-content, .offers, .partner-logos {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 40px;
    width: 80%;
    position: relative;

}
#numbers{
    margin-top: 200px;
}
/* Specific section styles */
.opening-year {
    background: #cc0000;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 80px;
    width: 50%;
    border-bottom:15px solid #b85656;
    margin-left: 90px;

}

.opening-year p {
    margin: 0;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
}
.format{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    text-align: center;
    justify-items: center;
}
.format h3{
  padding-top: 10px;
 
}

.format button{
    background-color: #d10000;
    color: #ffff;
    border: none;
   width: 40px;
   border-radius: 40px;
   height: 40px;
   font-size: 20px;
}
.containere a{
    display:flex;
    justify-content: flex-end;
    padding-top: 10px;
    color: #000;
}

.opening-year h3 {
    margin: 0;
    font-size: 3em;
    display: flex;
    justify-content: flex-end;
}
.cercle{

    display:flex;
    justify-content: center;
}
.cercle .cercl1{
    background-color: #cc0000;
   margin: 15px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.cercle .cercle2{
    background-color: #cc0000;
    width: 60px;
    height: 10px;
    border-radius: 10px;
    margin: 15px;
}

.rond2{
    color: #cc0000;
    font-size: 100px;
    margin-top: 40px;
}
.p{
    color: #cc0000;
    font-size: 100px;
    margin-top: 40px;

    
}
.rond3{
    color: #cc0000;
    font-size: 100px;
    margin-top: 40px;
}
.color{
    background-color: #cc0000;
    width: 100%;
    height: 50vh;
    transform: rotate(5deg);
    position:absolute;
    top: -15px;
    z-index: -1;
    left: -15px;
    bottom:0;
    border-radius: 5px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}
.quot{
    color:#b85656;
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: left;
   width: 40px;
   height: 7vh;
}
.quo{
    color:#b1a4a4;
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
   width: 600px;
   height: 7vh;
}
.quote {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    transform: rotate(5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 20px;
   position: relative;
   left: 10px;
   box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
   justify-content: end;
}

.pedagogy-content {
   display: flex;
    align-items:center;
    text-align: left;
    margin-top: 40px;
    justify-content: scenter;
    width: 90%;
    justify-items: center;
    margin: 40px;
}

.pedagogy-content .video {
    width: 70%;
    margin-top: 40px;
    margin-left: 10%;
}

.pedagogy-content .description {
    max-width: 500px;
    text-align: left;
}
.pedagogy-content .description h3{
    color: #cc0000;
}
.pliers h1{
    display: flex;
    justify-content: left;
    margin-left:110px;
    color: #cc0000;
}
.contenair{
    display: grid;
   grid-template-columns: 350px 350px;
   margin-left: 90px;
  
}
.pliers-pedagogies{
    display: flex;
    justify-content: space-between;
    width: 80%;

}
.item {
background-color: white;
border-bottom:4px solid #cc0000;
margin: 20px;
margin-top: 0px;
box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}
.item h1{
    color: #cc0000;
    font-size: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:left;
    margin-left: 20px;
}
.item h2{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    font-weight: bold;


}
.item p{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}
.imgpedagogy img{
    display: flex;
    justify-content: center;
    width: 90%;
    border-radius: 15px;
    margin-left: 200px;
    height: 90vh;
    border-top: 10px solid #cc0000;
    border-right: 10px solid #cc0000;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

    }
    .valeurs h2{
        color:#cc0000;
        font-size: 30px;
        font-weight: bold;
    }
    .milieur{
        display: flex;
        justify-content: center;
        gap: 45px;
        height: 50vh;
    }
    .left{
        width: 30%;
        
    }
    .left h1{
        color: #cc0000;
        font-size: 30px;
        font-weight: bold;
        text-align: left;
    }
    .left p{
        text-align: left;
        font-size: 14px;
    }
    .left button{
        background-color: #cc0000;
        color: #ddd;
        font-size: 20px;
        font-weight: bold;
        border-radius: 30px;
        width: 50%;
        height: 7vh;

       
    }
    .btn button{
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin: 20px;
        padding: 10px;
      
    }
    .btn button:hover{
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin: 20px;
        padding: 10px;
        background-color: #ddd;
        color: #cc0000;
      
    }
    .right{
        width: 30%;
        display: grid;
        grid-template-columns: 400px;
        justify-content: flex-end;
        gap: 40px;
        text-align:initial;
        margin: 20px;
       
    }
    .itemnumber{
        display: flex;
        justify-content:center;
        border: 1px solid ghostwhite;
        background-color: #fff;
        box-sizing: border-box;
        margin: 10px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
       
       
    }
    .number{
        text-align: center;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: #f4cfcf;
        padding: 10px;
        margin: 25px;
        
    }
    .number h1{
        color: #cc0000;
        /* font-size: 20px; */
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
    }
    .description{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .description h1{
       margin-left: 20px;
       font-size: 25px;
       font-weight: bold;

    }
    .description h3{
        margin-left: 20px;
        font-size: 25px;
        font-weight: bold;
 
     }
    .description p{
        margin-left: 20px;
        /* font-size: 12px; */
    padding-bottom: 2px;
     }
     .tirets{
        display: flex;
        justify-content: center;
     }
.tiret{
    width:100px;
    height:10px;
    background-color: #d10000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    justify-items: center;
   
}
.statistics{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 90px;
    background: #cc0000;

}
.statistics .stat {
    
    color: #fff;
    padding: 10px;
    width: 20%;
}

.statistics .stat h3 {
    margin: 0;
    font-size: 2.5em;
}
.statistics .stat p{
font-size: 1rem;
}
.equipe h1{
color: #cc0000;
font-size: 1.5em;
}
.equipe p{
    font-size: 20px;
}
.Nosequipe{
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    gap: 40px;
}
.img img{
    display: flex;
    justify-content: left;
   margin-left: 10px;
}

.site img{
    width: 20px;
    color: #cc0000;
    margin: 10px;

    
}
.title2 h2{
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.title2 h3{
    display: flex;
    justify-content: left;
    margin-left: 20px;
    color: #cc0000;
}
.bas{
   display: flex;
   justify-content: center;
   width: 100%;
   padding-top: 40px;


}
.base{
    width: 10px;
    height: 10px;
    background-color: #cc0000;
    margin: 15px;

    border-radius: 10px;
}
.baser{
    width: 90px;
    height: 10px;
    background-color: #cc0000;
    margin: 20px;
    border-radius: 50px;
}
.title2 p{
    display: flex;
    justify-content: left;
    font-size: 15px;
    margin-left: 20px;
    color: #333;
}
.itemequipe{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80%;

    
}
.item1{
    background-color: #fff;
    height: 50vh;
    border-radius: 5px;
    margin-top: 20px;
    width: 70%;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);

 
}
.rorouge{
    background-color:#e2a1a1 ;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    z-index: -1;
    position: absolute;
    margin: -30px;
}
/* section .recruttements */
.recruttements h1{
    font-size: 3em;
    color: #cc0000;
    font-weight: bold;
}
.recruttement{
    display: flex;
    justify-content:center;
    width: 100%;
    gap: 20px;

}
.recruttement .left1{
    width: 50%;
}
.recruttement .left1 img{
    width: 80%;
}

.recruttement .right1{
text-align: left;

} 
.recruttement .right1 h2{
    text-align: left;
    color: #cc0000;
    font-size: 1.5em;
    } 

.offers {
    /* flex-direction: column; */
    align-items: flex-start;
    text-align: left;
    margin-bottom: 40px;
   
 
}

.offer {
    background-color: #efd3d3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-bottom: 20px;
    height: 80vh;

   
}
.reference{
    display: flex;
    justify-content: space-between;
}
.trains{
    background-color: #cc0000;
    width: 20px;
    height: 5px;
    margin-top: 10px;
}
.offer p{
font-size: 14px;
}
.dim{
    display: flex;
    gap: 5px;
    margin: 10px;


}

.off{
    display: flex;
    justify-content: space-around;
}

.offer h3 {
    margin: 0;
}

.offer-details {
    /* gap: 10px;
    margin: 40px; */
    width: 400px;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #8c8787;
    height: 25vh;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}
.fixe{
    height: 4vh;
    width: 120px;
}
.dim h6{
 padding-top: -4000px;
}
.offer-details img {
   width: 20px;
   height: 20px; 
   margin-top: 20px;
}

.offer-details p{
  padding-top: -40px;
}

.additional-offers .offer {
    background: transparent;
    border: 2px dashed #cc0000;
    cursor: pointer;
}
.partners{
    background-color: #fff;
}
.rond1{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: #cc0000;
    background-color: #cc0000;
}
.partner-logos {
    flex-wrap: wrap;
    margin-left: 10%;
    gap: 40px;
    width: 80%;
    justify-content: center;
    margin-right: 10%;
}

.partner-logos img {
    width: 100px;
    height: auto;
    padding: 40px;
}
.containere {
    text-align: center;
  }
  
.postuler-btn{
    
    background-color: #cc0000;
    color: white;
    align-items: center;
    display: inline-block;
    width: 150px;
    height: 6vh;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    margin-top: 20px;



}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    padding: 50px 20px;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    margin: 20px;
    
}

.footer-section ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
   
   
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section .socials a {
    color: #cc0000;
    font-size: 1.5em;
    margin-right: 10px;
}
blockquote{
    background-color: #f9f9f9;
    border-left: 5px solid #cc0000;
}

.footer-section .newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section .newsletter input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-right: none;
    border-radius: 4px ;
    
}
/* 
.footer-section .newsletter button {
    background-color: #4bcc00;
    color: #fff;
    border: 2px solid red;
    padding: 10px 20px;
    cursor: pointer;
    color: white; */
}
.group-row{
    display: flex;
    justify-content:space-between;
    gap: 20px;


}
.simpl img {
width: 100px;
}
.socials img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.footer-content{
    display: flex;
    justify-content: center;
    gap: 150px
}
.contact ul li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.links ul li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
    color: white;
}
.links ul a{
    text-decoration: none;
    list-style: none;
    padding: 5px;
    color: white;
}
.newsletter{
    padding: 5px;
}
.current-offers{
    display: flex;
    justify-content: center;

}
    input {
        display: block;
        width: 80%;
        margin-bottom: 16px;
        height: 5vh;
        border-radius: 5px;
        padding: 10px;
      

    }
    form{}
 
  

    .topic select{
        width: 450px;
        height: 5vh;
        background-color: var(--white);
        border:2px solid var(--Primary);
        border-radius: 5px;

    }
    .topic input{
        width: 450px;
        height: 100px;
        text-align: left;
       
       

    }
    .checkbox{
        display: flex;
        justify-content:center;
        text-align: left;
        gap: 0;

    }
    .checkbox input{
        width: 10px;
        height: 10px;
    
    }
    button{
        background-color:#d10000;
        color: white;
        width: 130px;
        height: 50px;
        border-radius: 20px;


    }
    .footer-section-about img{
        width: 100pw;
        height: 50px;
        filter:invert(1)

    }